body {
    font-family: Arial;
    margin: 0;
    overflow-y: hidden;
    overflow-x: hidden;
    color: #EEE;
    background: #37393A;
}

#count_today {
    font-size: 96pt;
    background: #37393A;
    text-align: center;
}

#count_twomonths {
    font-size: 40pt;
    background: #37393A;
    text-align: center;
    padding-bottom: 20pt;
}

#rate {
    font-size: 30pt;
    padding: 40pt;
    text-align: center;
    background: #022F40;
}

tr.heading {
    font-weight: bold;
    background: #37393A;
}

#t_heading {
    border-bottom-style: solid;
    border-bottom-width: 3px;
    border-top-style: solid;
    border-top-width: 3px;
}


#last_qsos {
    border-collapse: collapse;
    width: 100%;
    font-size: 35pt;
}

#last_qsos tr:nth-child(even) {
    background: #022F40;
}

#last_qsos tr:nth-child(odd) {
    background: #37393A;
}

#last_qsos td {
    padding: 15pt;
}

td.time {
    white-space: nowrap;
    width: 40%;
}

td.operator {
    overflow-wrap: break-word;
    width: 20%;
}
td.call {
    width: 20%;
}

table {
    table-layout: fixed;
    width: 100%;
    color: #eee;
}
