<html>
    <head>
        <title>QSOer</title>
        <link rel="stylesheet" href="/static/style.css">
        <script>
            setTimeout(function() {
                window.location.reload(1);
            }, 5000);
        </script>
    </head>
    <body>
        <div id='count_today'>{{ qsostats.count_today }} QSOer i dag</div>
        <div id='count_twomonths'>{{ qsostats.count_twomonths }} q siste to måneder</div>
        <div id='rate'>Rate: {{ qsostats.rate }} q/time</div>

        <table id='last_qsos'>
        <tr class='heading'>
            <td class='time'>Tidspunkt</td>
            <td class='operator'>Operatør</td>
            <td class='call'>Kall</td>
        </tr>
        {% for record in last_qsos %}
        <tr>
            <td class='time'>{{record[0]}}</td>
            <td class='operator'>{{record[1]}}</td>
            <td class='call'>{{record[2]}}</td>
        </tr>
        {% endfor %}
        </table>
    </body>
</html>
